# This should be a comment line
# author: steve harris
# date: 140910

# see http://opensourcedba.wordpress.com/2011/01/12/mysql-basics-part-3-%E2%80%93-your-my-cnf-or-my-ini-file/
[client]
# `SHOW VARIABLES` is the command to view your current settings
# defaults to port 3306 when a client program is run
port=3306

# [mysqld] refers to the daemon or server
[mysqld]

# mysqld port=3306
# NOTE: 2014-12-26 - [ ] keep this up to date, will change with brew upgrades
basedir=/usr/local/Cellar/mysql/5.6.22

# datadir=/volumes/mysql/data
datadir=/volumes/safe/sql
default-storage-engine=MyISAM

# [client] refers to the user
# I assume that since this is hosted locally they become one and the same?