/* Github Cousine */

/* Focus Mode */
/*


@media screen and (max-width: 550px) {
  body .unordered.todoMode {
    display: inline;
  }
   div[done].unordered.todoMode span[class~="tags"], .unordered, .ordered {
    display: none;
  }
  div[done].unordered.todoMode span[class~="text"] {
    opacity: 0.6;
  }
  div[done].unordered.todoMode {
    visibility: hidden;
    height: 0;
    display: block;
    width: 0;
    overflow: hidden;
  }
  .heading, .empty, .body {
    visibility: hidden;
    height: 0;
    overflow: hidden;
  }
  .tabs {
    display: none;
    visibility: hidden;
    height: 0;
    width: 0;
    overflow: hidden;
  }
  html body {
  	font-size: 19px;
  }
}


*/



@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: "Source Code Pro";
  src: url('file:///Users/steve/Library/Fonts/SourceCodePro-Light.ttf');
  background-color: rgb(26,26,26);
  color: rgb(153,153,153);
}

body {
  line-height: 1.2em;
  letter-spacing: 0.05em;
  font-family:  "Source Code Pro", monospace;
  font-size: 20px;
  font-style: Light;
}

body .heading {
  font-size: 20px;
  font-weight: bold;
  font-style: Bold;
  color: rgb(12,139,186); 
}

.strong, .term, .code, .codeblock {
  font-family:  "Source Code Pro", monospace;
  font-weight: bold;
}




/* -------------- */

/* General Styles */

.currentSentence {
  -webkit-transition-property: display, color, visibility;
  -webkit-transition-duration: 0.3s;
}

html {
	-webkit-font-smoothing: anti-antialiased;
}

body .heading {
  font-family: "Helvetica Neue", "Source Code Pro", monospace;
  color: rgb(12,139,186); 
}
.heading[level="0"] {
    font-size: 1.8rem;
}

.heading[level="1"] {
    font-size: 1.6rem;
}

.heading[level="2"] {
    font-size: 1.4rem;
}

.heading[level="4"] {
    font-size: 1.2rem;
}

.heading[level="5"] {
    font-size: 1rem;
}
body .body {
  font-weight: Light;
}


#editorContent {
  padding: 80px 50px;
  -webkit-overflow-scrolling: touch;
}

body {
	font-weight: normal;
	font-style: Light;
  background-color: rgb(26,26,26);
  color: rgb(153,153,153);
}

.tags {
  font-style: Light;
  font-weight: normal;
  color: rgb(12,139,186); 
}

.tabs {
	font-family:HalfWidthSpace;
}
.highlight {
  background: red;
}

.code {
	font-weight: normal;
}

.code, .codeblock > .content > .text {
	/*background: rgb(90%,90%,90%);*/
	font-weight: normal;
  color: rgb(20,126,73);
  background: rgb(23,38,30); 
}
.blockquote {
	font-style:oblique;
	font-weight: normal;
}

.blockquote > .content > .lead.syntax,
.unordered > .content > .lead.syntax,
.ordered > .content > .lead.syntax,
.heading > .content > .lead.syntax,
.heading > .content > .trail.syntax   {
	color: #787878;
	font-size: Light;
	font-weight: normal;
}

.headerLeadSyntaxText {
	font-size: Light;
	font-weight: normal;
}

.headerLeadSyntaxText:hover {
	text-decoration:underline;
	cursor: pointer;
	font-size: Light;
	font-weight: normal;
}
.htmltag {
	color: #c04364;
	font-weight: normal;
}

.mode {
  font-weight: normal;
  font-style: Light;
  color: gray;
}

.htmltag-attributevalue {
	font-weight: normal;
	color: #14819c;
}
@font-face {
	font-family: CourierFoldEllipse;
	src: url('./fonts/CourierFoldEllipse.ttf');
}
.foldafter .content:after {
	font-family: CourierFoldEllipse, Courier;
	font-style:normal;
	font-weight:normal;
	content:" …";
}
.editorTopFold {
	color: rgb(97%,97%,97%);
	background: rgb(20%,20%,20%);
}
@font-face {
	font-family: CourierBulletDone;
	src: url('./fonts/CourierBulletDone.ttf');
}
@font-face {
	font-family: CourierBulletNotDone;
	src: url('./fonts/CourierBulletNotDone.ttf');
}

.ordered, .unordered {
	font-weight: normal;
}

.unordered.todoMode .lead {
	font-family:CourierBulletNotDone, Courier;
}
/* Coloured tags borrowed from HelveticaNeue theme */
div[done].unordered.todoMode .lead {
  font-family:CourierBulletDone, Courier;
}
div[low] span[class~=text] {
    color: rgb(175, 180, 251);
}
div[now] span[class~=text] {
  color: rgb(228, 113, 112);
}

div[hl] span[class~=text] {
  background: rgb(239, 234, 67);
  color: rgb(43, 43, 43);
}
div[done].unordered.todoMode .lead {
	font-family:CourierBulletDone, Courier;
}